@charset "UTF-8";
/*join.html에 적용되는 css파일*/
/***초기화***/
*{
	padding: 0px;
	margin: 0px;
}
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
   :root {
     font-family: InterVariable, sans-serif;
   }
}
body{
    width: 100%;
    /*background-color: antiquewhite;*/
}
/***컨테이너 부분***/
#container{
    position:absolute;
    left: 50%;
    transform: translate(-50%, 50px);
    width: auto;
    height: auto;
    /*background-color: yellow;*/
}
/***헤더 부분***/
header{
    /*position: absolute;
    transform: translate(466px, 95px);*/
    width: 990px;
    height: 119px;
    margin-bottom: 30px;
    /*border:1px solid black;*/
}
#join_title{
    width: 187px;
    height: 76px;
    margin: 0 auto;
    line-height: 76px;
    /*border: 1px solid pink;*/
}
#progress{
    width: 990px;
    height: auto;
    text-align: center;
    /*border: 1px solid black;*/
}
hr, #progress_sign, #progress_inputInfo, #progress_complete{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /*border: 1px solid yellowgreen;*/
}
hr{
    width:189px;
    border: 1px solid black;
}
#progress_sign{
    width: 10.42px;
    height: 34px;
    line-height: 34px;
}
#progress_sign > img{
    width: 10.42px;
    height: 20.83px;
}
#progress_inputInfo, #progress_complete{
    width: 150px;
    height: 34px;
    line-height: 34px;
    margin: 0px 24px;
}
#progress_complete{
    color: #929292;
}
/***메인 부분***/
#join_main{
    /*position: absolute;
    transform: translate(600px, 255px);*/
    transform: translateX(134px);
    width: 720px;
    height: auto;
    /*border: 1px solid pink;*/
}
#join_label, #join_input, #join_checkID{
    display:inline-block;
    vertical-align: top;
}
#join_label{
    transform: translateY(12px);
    width: 140px;
    height: auto;
    text-align:left;
    font-size: 16px;
    font-weight: bold;
    /*border: 1px solid black;*/
}
#join_label > div {
    width: auto;
    height: auto;
    margin: 0px 0px 60px 0px;
    /*border: 1px solid green;*/
}
#join_input{
    width: 420px;
    height: auto;
    margin: 0px 20px;
    /*border: 1px solid black;*/
}
#id, #password, #check_password, #name, #address{
    width: 420px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
#phone, #email{
    display: flex;
    text-align: center;
    line-height: 40px;
}
#phone_part1, #phone_part2, #phone_part3{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
#phone > span{
    width: 22px;
    height: 40px;
    margin: 0px 20px;
    font-size: 30px;
    font-weight: bold;
    /*border: 1px solid black;*/
}
#email_id, #email_domain{
    width: 190px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
#email > span{
    width: 28px;
    height: 40px;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    /*border: 1px solid black;*/
}
#join_input > .text {
    margin: 10px 0px;
    font-size:15px;
    color: white;/*초반에는 white로 설정. 나중에 입력을 빼먹었을 때, js이용하여 빨간색으로 바꾸는 용도*/
}
/***버튼 부분***/
#buttons{
    text-align: center;
    /*border: 1px solid black;*/
}
#buttons > button, #buttons > input{
    margin: 0px 30px;
}
.style_button{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    background-color: #BFB6A9;
}