/*
기능: orderListPage css
작성자: 장고은
마지막 수정일: 2024-11-04
 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
}


#container{
	display: flex;
	flex-direction: column;
	align-items: center;
	height:100vh;
	width:1295px;
	padding-top:52px;
}

#title{
	font-size: 36px;
	margin-bottom: 20px;
}

#line{
	width:1295px;
}

#listContainer {
  background-color: #f2f2f2;
  width: 502px;
  height: 500px;
  overflow-y: auto;

  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  font-weight: bold;
  flex-shrink: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 464px;
  height: 106px;
  margin: 20px 0;
  padding: 0px 10px;
  border-radius: 10px;
}

p {
    font-size: 15px;
    margin: 10px 0;
}

.btn {
	float: right;
	width: 150px;
    height: 25px;
    margin: 7px;
    border: 1px solid #D9D9D9;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f0f0f0; /* 마우스 오버 시 배경색 */
}
